<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Directory" value="C:\Users\John\Downloads\WebPages\"/>
  </appSettings>
  <system.diagnostics>
      <trace autoflush="true">
        <listeners>
          <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter"
               initializeData="trace.log" />
        </listeners>
      </trace>
    </system.diagnostics>
  <system.serviceModel>

    <!--<services>
      <service name="WcfJsonRestService.StoreUrls">
        <endpoint address="http://localhost/StoreUrl"
              binding="webHttpBinding"
              contract="WcfJsonRestService.IStoreUrls"/>        
        <endpoint address="https://localhost/StoreUrl"
      binding="webHttpBinding"
      contract="WcfJsonRestService.IStoreUrls" bindingConfiguration="SecureBinding" />
      </service>
    </services>-->
    <!--<bindings>
      <webHttpBinding>
        <binding name="SecureBinding">
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>-->
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>